[itemtype="https://schema.org/WPAdBlock"],
[data-google-container-id],
[data-campaign-oid],
a[href*="//ads.adfox.ru/"] > *,
a[href*="//4pda.to/ad/"] > *,
a[href*="//all-ti-cod.com/"],
a[href*="//srv.carbonads.net/"],
a[href*="//srv.buysellads.com/"],
[id^="taboola_"],
[id^="yandex_rtb"],
[id^="yandex_ad_R"],
iframe[src*="//dsp-rambler.ru"],
iframe[src*="//go.rcvlink.com/"],
iframe[src*=".adhigh.net/"],
iframe[src*=".safeframe.googlesyndication.com/"],
iframe[src*="//ads.eu.criteo.com/"],
article a[href*="//beap.gemini.yahoo.com/"] ~ *,
[src*=".nativeroll.tv/"],
[src*=".2mdn.net/ads/"],
[id="pljsvpaid"],
[src*=".adocean.pl/"],
[src*="//imasdk.googleapis.com/"],
[src*="//avatars.mds.yandex.net/get-adfox-content/"],
[style*="//avatars.mds.yandex.net/get-adfox-content/"],
article[data-testid="tweet"]:has(div:nth-child(2):last-child>div>div>button[aria-label="More"]),
.adv_inside,
.ad-split-embed,
.zenad-card-rtb__ad,
.ads_ad_box2,
._ads_block_data_w,
._ads_block_adaptive_ad,
[data-ad-block-uid],
._post_content:has(>:is(.ads_ad_text_box, .ads_ad_box, .adaptive_ad)),
yatag:not(yatag yatag),
.gnezdo_main_block > .gnezdo_block_container > .gnezdo_block {
  filter: blur(32px);
  -webkit-clip-path: view-box;
  clip-path: view-box;
  -webkit-mask-image: var(--soft-ad-block-mask-image);
  mask-image: var(--soft-ad-block-mask-image);
  -webkit-mask-size: var(--soft-ad-block-mask-size);
  mask-size: var(--soft-ad-block-mask-size);
  -webkit-mask-position: center;
  mask-position: center;
}

[style*="//3dnews.ru/assets/external/var/ad"]::before,
[style*="//tpc.googlesyndication.com/"]::before,
[style*="//ixbt.online/banners/"]::before,
[href*="//www.ixbt.com/cgi-bin/click_i.cgi"]::before,
[href*="//ads.adfox.ru/"]:empty::before,
body.body_branding::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  top: 0;
  backdrop-filter: blur(32px);
  background-image: var(--soft-ad-block-bg-image);
  background-size: var(--soft-ad-block-mask-size);
  background-position: center;
  background-color: var(--soft-ad-block-bg-color);
  background-attachment: fixed;
  pointer-events: none;
}

body {
  --soft-ad-block-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cdefs%3E%3Cmask id='mask'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23ffffff' /%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle'%0Afill='%23aaaaaa' font-family='sans-serif' font-size='22px' font-weight='bold'%3EAdvertisement%3C/text%3E%3C/mask%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' mask='url(%23mask)' /%3E%3C/svg%3E");
  --soft-ad-block-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle'%0Afill='%23ffffff' font-family='sans-serif' font-size='22px' font-weight='bold' opacity='0.3'%3EAdvertisement%3C/text%3E%3C/svg%3E");
  --soft-ad-block-mask-size: 220px 80px;
  --soft-ad-block-bg-color: none;
}

body:lang(ru),
body:lang(ua) {
  --soft-ad-block-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cdefs%3E%3Cmask id='mask'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23ffffff' /%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle'%0Afill='%23aaaaaa' font-family='sans-serif' font-size='22px' font-weight='bold'%3EРеклама%3C/text%3E%3C/mask%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' mask='url(%23mask)' /%3E%3C/svg%3E");
  --soft-ad-block-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle'%0Afill='%23ffffff' font-family='sans-serif' font-size='22px' font-weight='bold' opacity='0.3'%3EРеклама%3C/text%3E%3C/svg%3E");
  --soft-ad-block-mask-size: 160px 80px;
}

@supports not (backdrop-filter: blur(32px)) {
  body {
    --soft-ad-block-bg-color: rgba(127, 127, 127, 0.95);
  }
}
